<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles.css') }}"
    />
  </head>
  <body>
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %}
    <div class="flash flash-{{ category }}">
      {{ message }}
      <span
        class="flash-close"
        onclick="this.parentElement.style.display='none';"
        >×</span
      >
    </div>
    {% endfor %} {% endif %} {% endwith %}
    <div class="container container-box">
      <div class="row justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h3>Reset Password</h3>
            </div>
            <div class="card-body">
              <form method="post">
                <div class="form-group">
                  <label for="password">New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password"
                    placeholder="Enter password"
                    required
                  />
                </div>
                <div class="form-group">
                  <label for="password">Rewrite New Password</label>
                  <input
                    type="password"
                    class="form-control"
                    id="password"
                    name="password_confirm"
                    placeholder="Enter password again"
                    required
                  />
                </div>

                <button type="submit" class="btn bton-primary btn-block">
                  Reset
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script>
      // Wait for the DOM to be fully loaded
      document.addEventListener("DOMContentLoaded", function () {
        // Select all flash messages
        const flashMessages = document.querySelectorAll(".flash");

        // Set a timeout to hide each flash message after 2 seconds
        flashMessages.forEach(function (flashMessage) {
          setTimeout(function () {
            flashMessage.style.display = "none";
          }, 2000); // 2000 milliseconds = 2 seconds
        });
      });
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
