<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login Form</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles_for_dashboard.css') }}"
    />
  </head>
  <body>
    <div class="container container-box">
      <div class="row justify-content-center">
        <div class="col">
          <div class="card">
            <div class="card-header">
              <h5>Upload Files</h5>
            </div>
            <div class="card-body">
              <form
                action="/upload"
                method="POST"
                enctype="multipart/form-data"
              >
                <div class="form-group">
                  <input
                    type="file"
                    class="form-control-file"
                    id="fileUpload"
                    name="files"
                    multiple
                    accept=".csv"
                  />
                </div>
                <button type="submit" class="btn btn-primary btn-block">
                  Upload
                </button>
              </form>
            </div>
          </div>
          <div class="custom-link">
            <a href="{{url_for('logout')}}">Logout</a>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col text-center">
                  <a
                    href="{{url_for('setSelectedGender',gender='All')}}"
                    class="gender {% if session['selectedGender'] == 'All' %}green{% endif %}"
                    >All: {{session['Male']+session['Female']}}</a
                  >
                </div>
                <div class="col text-center">
                  <a
                    href="{{url_for('setSelectedGender',gender='Male')}}"
                    class="gender {% if session['selectedGender'] == 'Male' %}green{% endif %}"
                    >Male: {{session['Male']}}</a
                  >
                </div>
                <div class="col text-center">
                  <a
                    href="{{url_for('setSelectedGender',gender='Female')}}"
                    class="gender {% if session['selectedGender'] == 'Female' %}green{% endif %}"
                    >Female: {{session['Female']}}</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="row justify-content-center">
                <div class="col text-center">
                  <a
                    href="{{url_for('download_pdf')}}"
                    
                    >PDF</a
                  >
                </div>
                <div class="col text-center">
                  <a
                    href="{{url_for('download_excel')}}"
                    
                    >EXCEL</a
                  >
                </div>
                <div class="col text-center">
                  <a
                    href="{{url_for('download_csv')}}"
                    
                    >CSV</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="table-container">
            <table class="table">
              <thead>
                <tr>
                  <th>NIC</th>
                  <th>Gender</th>
                  <th>DOB</th>
                  <th>Age</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for detail in session['details'] %} 
                {% if session['selectedGender'] == 'All' or detail[1] == session['selectedGender']%}
                <tr>
                  <td data-label="NIC">{{ detail[0] }}</td>
                  <td data-label="Gender">{{ detail[1] }}</td>
                  <td data-label="DOB">{{ detail[2] }}</td>
                  <td data-label="Age">{{ detail[3] }}</td>
                  <td>
                    <a
                      href="{{ url_for('delete_row', id=detail[4]) }}"
                      class="delete-url"
                      >Delete</a
                    >
                  </td>
                </tr>
                {% endif %} {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>
