@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}
.card-header {
    height: 60px; /* Adjust the height as needed */
    display: flex;
    justify-content: center;
}
.container {
    margin-top: 60px;
}
.form-control{
    border-radius: 10px;
    border-color: #d9d9d9;
}
.bton-primary {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}
.bton-primary:hover {
    background-color: #ffffff;
    border-color: #6c757d;
    color: #6c757d;
}
.bton-secondary {
    background-color: #ffffff;
    border-color: #6c757d;
    color: #6c757d;
}
.bton-secondary:hover {
    background-color: #6c757d;
    border-color: #6c757d;
    color: white;
}
.card {
    border: 2px solid transparent;
    border-image: linear-gradient(to bottom,
        rgba(0, 0, 0, 0) 50%, 
        rgb(0, 0, 0) 100%) 1;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #ddd;
}
.card-custom {
    border: 2px solid transparent;
    border-color: #000000;
    border-top: none; /* Remove the top border */
}
.card-header {
    border:none;
    background: #f8f9fa;
}
h5{
    margin-top: 5px;
    color: #73bd77;
    font-size: 20px;
    font-weight: 550;
}
label{
    color: #000000;
}
.container-box{
    width: 90%;
}
.custom-link{
    text-align: center;
    font-size: 15px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}
a{
    color: black;
    transition: 0.3s;
}
a:hover{
    color: black;
}
/* .table tbody tr {
    transition: background-color 0.3s ease-in-out;
} */

/* .table tbody tr:hover {
    background-color: #d9d9d9;
    cursor: pointer;
} */
.table {
    width: 100%;
}

.table th, .table td {
    
    padding: 8px;
    text-align: center;
    border-right: 1px solid #ddd;
}
.table th:last-child, .table td:last-child {
    border-right: none;
}
.table th {
    padding-top: 12px;
    padding-bottom: 12px;
}
.table tbody tr {
    margin-bottom: 20px;
}
.table tbody tr:last-child {
    margin-bottom: 0;
}

.delete-url:hover{
color: #ff3838;
}
.green{
    color: #4CAF50;
}
.navbar-custom {
    background-color: #000000;/* Adjust the height as needed */
  }
  
  .navbar-custom .navbar-brand,
  .navbar-custom .nav-link {
    color: white;
    transition: 0.3s;
  }
  
  .navbar-custom .nav-link:hover {
    color: #73bd77;
  }
  
  .navbar-custom .navbar-toggler-icon {
    background-image: none;
    color: white;
  }
  
  .navbar-custom .navbar-toggler-icon::before {
    content: '\2630'; /* Unicode character for menu icon */
    font-size: 1.5em;
    color: white;
  }
  
  h6 {
    font-size: 18px;
    margin-top: 5px;
    color: #000000;
    
  }
  .stats-card {
  background-color: #f8f9fa; /* Light background color */
  padding: 20px; /* Padding inside the card */
  margin-bottom: -20px; /* Space below the card */
  border-radius: 8px; /* Rounded corners */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  border: 1px solid #ddd; /* Light border */
}

.stats-card .row {
  margin-bottom: 10px; /* Space between rows */
  border-bottom: 1px solid #ddd; /* Line between rows */
  padding-bottom: 10px; /* Padding below the row */
}

.stats-card .row:last-child {
  border-bottom: none; /* Remove border from the last row */
}

.stats-card .gender {
  font-size: 1.0em; /* Larger font size */
  color: #333; /* Dark text color */
}
.stats-card .theData {
  color: #4CAF50; /* Dark text color */
}
   
.flash {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    text-align: center;
}
.flash {
    position: fixed;
    top: 64px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 300px;
    text-align: center;
    border-radius: 10px;
    z-index: 1000;
    opacity: 0.7;
}
.flash-success {
    background-color: #84df87;
    color: white;
}
.flash-error {
    background-color: #eb837c;
    color: white;
}
.flash-close {
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}